Origin: FlagOS
Label: FlagOS
Codename: stable
Suite: stable
Description: FlagOS unified package distribution
Architectures: amd64
Components: main
SignWith: @GPG_KEY_ID@
DebIndices: Packages Release . .gz .bz2
DscIndices: Sources Release .gz .bz2
Contents: . .gz .bz2
